---
import LayoutPage from "@layouts/LayoutPage.astro";

const title = "Alambre de Puas";
const desc =
  "El alambre de púas de ALTA TENSIÓN con su resistencia a la ruptura";
const seo = {
  title: title,
  description: desc,
};
---

<LayoutPage {seo} titlepage={title}>
  <div class="container">
    <p>
      <img src="https://grupocepromex.com/imag_cepromex/alambre-puas-cepromex.jpg"/>
    </p>

    <div class="grid grid-cols-2">
      <div>
        <img src="https://grupocepromex.com/imag_cepromex/puas_grapas.jpg" />
      </div>
      <div>
        <p>
          El alambre de púas de ALTA TENSIÓN con su resistencia a la ruptura a
          los 435 Kgs por su eficiencia y menor costo logra cumplir con las
          necesidades de seguridad c on sus dos alambres galvanizados trenzados
          en calibre 14.5 y 15.5, separación entre púas de 5” bajo norma de ASTM
          A 121. Su presentación con
        </p>
      </div>
    </div>
  </div>
</LayoutPage>
