---
import LayoutPage from "@layouts/LayoutPage.astro";

const title = "Malla Antideslumbrante";
const desc ="Producto fabricado con polietileno de baja densidad con aditivos UV para resistir la decoloración y desgaste al estar expuesta a la intemperie.";
const seo = {
  title: title,
  description: desc,
};
---
<LayoutPage {seo} titlepage={title}>
<div class="container">
<p>
  <img src="https://grupocepromex.com/imag_cepromex/mallagalv-cepromex.jpg" />
</p>
<h2>Malla Galvanizada</h2>
<p>
  <strong
    >Contamos con el mantenimiento y servicio profesional de malla ciclónica.</strong>
</p>
<p>
  Nuestros productos de malla galvanizada, por inmersión en caliente, resisten a
  todos climas húmedos y calurosos por lo cual lo garantizamos plenamente,
  tenemos todo tipo de cercados como:
</p>
<p>
  Campos deportivos, clubs, estacionamientos, industrias, escuelas, aeropuertos,
  fraccionamientos residenciales, hoteles, etc.
</p>
<p>
  Contamos con la instalación de toda clase de cercas, nos adaptamos a todas las
  especificaciones de sus obras o proyectos.
</p>
<h4>Contamos con diferentes aberturas y calibres.</h4>
<div></div>
<h3>Malla Ciclonica</h3>
<p>Contamos con el mantenimiento y servicio profesional de malla ciclónica.</p>
<div>
  <table border="1" summary="Malla medidas" cellspacing="0" cellpadding="0">
    <caption>Características Generales</caption>
    <tbody>
      <tr>
        <td>
          <p>ALTURA</p>
        </td>
        <td>
          <p>CAL. 10.5</p>
        </td>
        <td>
          <p>CAL.11.0</p>
        </td>
        <td>
          <p>CAL. 11.5</p>
        </td>
        <td>
          <p>CAL. 12.5</p>
        </td>
        <td>
          <p>CAL. 13</p>
        </td>
        <td>
          <p>PVC 10.5</p>
        </td>
        <td>
          <p>PVC 11.0</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>1.0</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>1.25</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>1.50</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>1.75</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>2.00</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>2.50</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>3.00</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
      </tr>
    </tbody>
  </table>

  <h4>ESPECIFICACIONES:</h4>
  <ul>
    <li>LONGITUD DEL ROLLO 20 MTS.</li>
    <li>ABERTURAS (mm) 55 x 55, 60 x 60, 63 x 63, 69 x 69.</li>
    <li>SE UTILIZAN ALAMBRES GALVANIZADO POR INMERSION EN CALIENTE.</li>
    <li>P.V.C. DE ALTA CALIDAD RESISTENCIA A LA ACCION DEL SOL.</li>
  </ul>

  <h4>MALLA CICLON CON ABERTURA ESPECIAL</h4>

  <p>ESPECIFICACIONES:</p>
  <ul>
    <li>LONGITUD DEL ROLLO: LA REQUERIDA</li>
    <li>ALTURA DEL ROLLO: LA REQUERIDA, NO MAYOR DE 4 mts.</li>
    <li>
      ABERTURAS (mm) 15 x 15, 25 x 25, 30 x 30, 32 x 32, 36 x 36, 44 x 44 y 50 x
      50
    </li>
    <li>SE UTILIZAN ALAMBRES GALVANIZADOS POR INMERSION EN CALIENTE.</li>
    <li>P.V.C. DE ALTA CALIDAD RESISTENTE A LA ACCION DEL SOL.</li>
  </ul>
</div>
</div>
</LayoutPage>