---
import LayoutPage from "@layouts/LayoutPage.astro";

const title = "Malla Antideslumbrante";
const desc =
  "Producto fabricado con polietileno de baja densidad con aditivos UV para resistir la decoloración y desgaste al estar expuesta a la intemperie.";
const seo = {
  title: title,
  description: desc,
};
---

<LayoutPage {seo} titlepage={title}>
  <div class="container">
    <p>
      <img src="https://grupocepromex.com/imag_cepromex/malla-sombra.jpg" />
    </p>
    <div>
      <h2>Malla Sombra</h2>
      <p>
        Contamos con el mantenimiento y servicio profesional de malla ciclónica.
      </p>
      <p>
        Protejase del sol, viento y reduzca la temperatura con Mallas Sombra
        Garantía de 4 años vida útil de la malla más de 6 años
      </p>
      <p>
        Mallas para su jardín, terraza, cochera, etc. Presentación en varias
        medidas con ojillos cada 50 cm. Para su fácil colocación variación +/-5%
      </p>

      <h2>CARACTERÍSTICAS:</h2>
      <p>Malla sombra del __80 AL 100% De según proyectos</p>
      <div>
        <p>Fabricado con:</p>
        <p>
          POLIETILENO DE ALTA DENSIDAD Y ADITIVOS (Para preservarlo contra los
          rayos solares y el medio ambiente)
        </p>
      </div>
    </div>
    <div>
      <table>
        <tbody>
          <tr>
            <td>
              <p>MALLA ROMPEVIENTOS</p>
            </td>
            <td>
              <p>CONSTRUCCIÓN<br />HILOS/PULGADA 2</p>
            </td>
            <td>
              <p>PESO<br />GRMS/M2</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Al 70% verde con negro</p>
            </td>
            <td>
              <p>44 x 13</p>
            </td>
            <td>
              <p>212</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Al 80% verde con negro</p>
            </td>
            <td>
              <p>55 x 13</p>
            </td>
            <td>
              <p>235</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Al 90% verde con negro</p>
            </td>
            <td>
              <p>66 x 12</p>
            </td>
            <td>
              <p>260</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</LayoutPage>
