---
import LayoutPage from "@layouts/LayoutPage.astro";

const title = "Malla Antideslumbrante";
const desc ="Producto fabricado con polietileno de baja densidad con aditivos UV para resistir la decoloración y desgaste al estar expuesta a la intemperie.";
const seo = {
  title: title,
  description: desc,
};
---

<LayoutPage {seo} titlepage={title}>
  <div class="container">
    <small>Contamos con el mantenimiento y servicio profesional de malla ciclónica.</small>


    <img src="https://grupocepromex.com/imag_cepromex/mallaantideslumbrante-cepromex.jpg" alt="" />
    
    <div class="container">
        <p>
            Fabricada con monofilamento de polietileno 100% virgen calibre 12 (milésimas de pulgada) y estabilizada con aditivos y antioxidantes especiales que la protegen contra la acción nociva de los rayos U.V., brindándole de esta manera un producto garantizado hasta por tres años contra defectos de fabricación en condiciones óptimas de manejo.Como principal función este producto forma una barrera de alta resistencia contra el viento, ofreciendo además privacidad al área que limita.Sus aplicaciones prácticas son: en canchas de tenis, condominios, cultivos cercanos a la costa, etc.
        </p>
    </div>

  </div>

 
</LayoutPage>