---
import LayoutPage from "@layouts/LayoutPage.astro";

const title = "Malla Antideslumbrante";
const desc ="Producto fabricado con polietileno de baja densidad con aditivos UV para resistir la decoloración y desgaste al estar expuesta a la intemperie.";
const seo = {
  title: title,
  description: desc,
};
---
<LayoutPage {seo} titlepage={title}>
<div class="container">
<img src="https://grupocepromex.com/imag_cepromex/mallapvc.jpg" />
<h4><small>Contamos con el mantenimiento y servicio profesional de malla cicl&oacute;nica</h4>
<div>
<p>Malla forrada en pl&aacute;stico P.V.C. es un alambre de calibre 11.5 recubierto de pl&aacute;stico para climas extremosos. Con tratamiento para la vida util,y para los rayos ultra violeta contiene un pegamento especial para las cuarteadoras.</p>
<p>El alambre utilizado en la fabricaci&oacute;n de la malla cicl&oacute;nica es de acero de alta resitencia pulido y galvanizado para evitar la erosi&oacute;n y brindarle mayor durabilidad. Su presentaci&oacute;n es de rollos compactos de 20 m. de largo. Fabricamos malla cicl&oacute;nica galvanizada en aberturas, alturas y calibres especiales garantizando la calidad de nuestros productos.</p>
<p>As&iacute; mismo le brindamos el servicio de instalaci&oacute;n y mantenimiento para toda clase de cercas. como son en hoteles, aeropuertos, residencias, escuelas, industrias, canchas deportivas, etc.</p>

</div>
</div>
</LayoutPage>