---
import LayoutPage from "@layouts/LayoutPage.astro";

const title = "Malla Antideslumbrante";
const desc ="Producto fabricado con polietileno de baja densidad con aditivos UV para resistir la decoloración y desgaste al estar expuesta a la intemperie.";
const seo = {
  title: title,
  description: desc,
};
---
<LayoutPage {seo} titlepage={title}>


  <div class="container">
    <p><img src="https://grupocepromex.com/imag_cepromex/proteccion-navajas.jpg" /></p>
<div>
<h2>Protección de Navajas</h2>
<p><small>Contamos con el mantenimiento y servicio profesional de malla ciclónica.<br /></small></p>
<div>
<table>
<tbody>
<tr>
<td>
<p>MODELO</p>
</td>
<td>
<p>RESIDENCIAL</p>
</td>
<td>
<p>INDUSTRIAL</p>
</td>
<td>
<p>MILITAL</p>
</td>
</tr>
<tr>
<td>
<p>CUCHILLA</p>
</td>
<td>
<p>RECTA</p>
</td>
<td>
<p>TIPO ARPON</p>
</td>
<td>
<p>TIPO DOBLE ARPON</p>
</td>
</tr>
<tr>
<td>
<p>DIAMETRO</p>
</td>
<td>
<p>18” Y 24”</p>
</td>
<td>
<p>18”  Y 24”</p>
</td>
<td>
<p>18” Y 24”</p>
</td>
</tr>
<tr>
<td>
<p>LONGITUD DEL ROLLO MAXIMA PROTECCION</p>
</td>
<td>
<p>8 MTS.</p>
</td>
<td>
<p>8 MTS.</p>
</td>
<td>
<p>8 MTS.</p>
</td>
</tr>
<tr>
<td>
<p>NUMERO DE ESPIRALES</p>
</td>
<td>
<p>33</p>
</td>
<td>
<p>33</p>
</td>
<td>
<p>33</p>
</td>
</tr>
<tr>
<td>
<p>PESO DEL ROLLO APROXIMADO</p>
</td>
<td>
<p>4,200 KGS.</p>
</td>
<td>
<p>4,340 KGS.</p>
</td>
<td>
<p>5,200 KGS.</p>
</td>
</tr>
</tbody>
</table>

<p>NUMERO DE ESPIRALES 33 33 33</p>
<p>PESO DEL ROLLO APROXIMADO 4,200 KGS. 4,340 KGS. 5,200 KGS.</p>
<p>PROTECCION DE NAVAJAS GALVALUM&lt;</p>
<p>LAMINA DE ACERO RECUBIERTA CON UNA ALEACION DE ALUMINIO- ZINC SEGÚN NORMAS ASTM-792</p>
<p>ALAMBRE GALVANIZADO CLASE II CON UNA RESITENCIA LA TENSION DE 67000PSI</p>
<p>PROTECCION DE NAVAJAS DE ACERO INOXIDABLE</p>
<p>LAMINA DE ACERO INOXIDABLE</p>
<p>ALAMBRE GALVANIZADO CLASE III CON UNA RESISTENCIA A LA TENSION DE 67000PSI</p>
</div>
</div>
</div>
</LayoutPage>