---
import LayoutPage from "@layouts/LayoutPage.astro";

const title = "Malla Antideslumbrante";
const desc =
  "Producto fabricado con polietileno de baja densidad con aditivos UV para resistir la decoloración y desgaste al estar expuesta a la intemperie.";
const seo = {
  title: title,
  description: desc,
};
---

<LayoutPage {seo} titlepage={title}>
  <div class="container">
    <p>
      <img
        src="https://grupocepromex.com/imag_cepromex/rejaacero-cepromex.jpg"
      />
    </p>
    <div>
      <h2>Reja Acero</h2>
      <p>
        <small
          >Contamos con el mantenimiento y servicio profesional de malla
          ciclónica.<br /></small
        >
      </p>
      <div>
        <p>
          LOS CERCOS DE REJA ACERO, ESTAN FORMADOS BÁSICAMENTE POR TRES
          COMPONENTES
        </p>
        <p>PANELES (MEDIDA COMERCIAL)</p>
        2.50 LARGO X .63 M. Altura<br />2.50 Largo X 1.50 M. Altura<br />2.50
        Largo X 2.00 M. Altura<br />2.50 Largo X 2.50 M. Altura<br />
        <p>
          POSTES de acero, cuadrados con perfil de 60 x 69 mm. Y 1.50 mm. De
          espesor.
        </p>
        <p>
          ACCESORIOS DE FIJACIÓN grapas metálicas recubiertas con poliéster
          termoendurecido y tornillos de acero inoxidable.<img
            src="https://grupocepromex.com/imag_cepromex/reja1.jpg"
          /><img src="https://grupocepromex.com/imag_cepromex/reja2.jpg" />
        </p>

        <p>
          Todo el material es acero galvanizado acabado con pintura de poliéster
          termo endurecido, los cuales aportan individualmente el más alto grado
          de protección contra el medio ambiente y la corrosión, otorgando mayor
          vida al producto.
        </p>
        <p>PANELES</p>
        <p>
          Rectangulares, de 2.5 x 2.0 m con aberturas de 20 x 5 cm y pliegues de
          refuerzo en forma de “V”. VERDE Y BLANCO
        </p>
        <p>POSTES</p>
        <p>
          De acero, cuadrados, con perfil de 60 x 60 mm y 1.5 mm de espesor
          Línea – Esquinero …con tapa de plástico en el extremo superior… y
          orificios roscados para la fijación de paneles mediante grapas y
          tornillos.
        </p>
        <p>ACCESORIOS DE FIJACION</p>
        <p>
          Grapas Metálicas recubiertas con poliéster termo endurecido y
          Tornillos de acero inoxidable.
        </p>
        <p>
          *El poste es 0.30 m más alto que el panel para facilitar su
          instalación al ahogarlo en concreto.
        </p>
        <p>
          <img src="https://grupocepromex.com/imag_cepromex/reja3.jpg" />Los
          Paneles, Postes y Grapas están doblemente protegidos contra la
          intemperie y la corrosión: Primero, mediante una gruesa capa de Zinc y
          Segundo, con un recubrimiento plastificado de Poliéster Duro
          Termoendurecido.
        </p>
        <p></p>
        <p>Fácil de Instalar</p>
        <p>¡Sólo Grapas y Tornillos!</p>
        <p>
          Instalación rápida, eficiente y con bajo costo de mano de obra.<br
          />Cero Mantenimiento
        </p>
        <p>
          Permanece tersa y brillante, sin tener que repintar o aplicar
          antioxidantes.
        </p>
        <p>Terrenos Irregulares</p>
        <p>
          Excelente solución en terrenos irregulares, gracias a lo versátil y
          fácil de su sistema de fijación.
        </p>
        <p>Doble protección contra la Intemperie</p>
        <p>
          Primero una capa de zinc…después, un recubrimiento de Poliéster
          Termoendurecido.
        </p>
        <p>Resistencia</p>
        Varillas gruesas cada 5 cm y con 4 pliegues a lo largo.

        <p>Guia de Instalación con Dala de Concreto</p>
        <ol>
          <li>Marcado y excavación de zanja.</li>
          <li>Colocación de madera para vaciado.</li>
          <li>Colocación de castillo y alineación.</li>
          <li>Presentación de Paneles y Postes.</li>
          <li>Sujeción con Grapas y Tornillos.</li>
          <li>Chequeo de altura y nivelación de postes.</li>
          <li>Apuntalado.</li>
          <li>Vaciado y fraguado.</li>
        </ol>
        <p>Otros colores sobre pedido</p>
        <p>SOMOS DISTRIBUIDORES AUTORIZADOS</p>
      </div>
    </div>
  </div>
</LayoutPage>
