---
import LayoutPage from "@layouts/LayoutPage.astro";

const title = "Malla Antideslumbrante";
const desc ="Producto fabricado con polietileno de baja densidad con aditivos UV para resistir la decoloración y desgaste al estar expuesta a la intemperie.";
const seo = {
  title: title,
  description: desc,
};
---
<LayoutPage {seo} titlepage={title}>
<div class="contanier">

</div>
</LayoutPage>
