---
import LayoutPage from "@layouts/LayoutPage.astro";

const title = "Quiénes Somos";
const desc ="Somos fabricantes de malla ciclónica, alambres de púas y accesorios, servicio todo México.";
const seo = {
  title: title,
  description: desc,
};
---

<LayoutPage {seo} titlepage={title}>
  <div class="container">
    <p>
      Contamos con el mantenimiento y servicio profesional de malla ciclónica.
    </p>

    <p>
      Reconocemos lo importante que es para usted el contar con SEGURIDAD Y
      SERVICIO CONTAMOS CON SOLUCIONES AVANZADAS.
    </p>

    <p>
      CEPROMEX, pone a su disposición una gama de productos que resultan ideales
      para apoyarles en este sentido.
    </p>

    <p>
      Contamos con la logística adecuada para el manejo y trasporte de su
      material lo que reduce potencialmente sus constos de mantenimiento y
      durabilidad
    </p>

    Auxiliares en la ingeniería civil. Nuestros productos cumplen con:


  <ul>
    <li>Homologación con las Normas Internacionales de Calidad.</li>
    <li>Materia prima y procesos de fabricación de clase mundial.</li>
    <li>Larga durabilidad y resistencia…más de 8 años de vida.</li>
    <li>No dañan el medio ambiente…se integran al ecosistema.</li>
    <li>ESTILO INDUSTRIAL</li>
  </ul>

  <h3>COLOCACIÓN DE MALLA CON SUS ACCESORIOS</h3>

  <ul>
    <li>MALLA CICLONICA</li>
    <li>POSTE DE ARRANQUE</li>
    <li>POSTE DE ESQUINERO</li>
    <li>ALAMBRE DE PUAS</li>
    <li>POSTE DE LINEA</li>
    <li>TAPON SENCILLO</li>
    <li>ABRAZADERA DE TORNILLO</li>
    <li>ABRAZADERA DE SOLERA</li>
    <li>SOLERAS GALVANIZADAS</li>
    <li>TENSOR</li>
    <li>TAPONES PARA PUAS</li>
    <li>ESPADIN</li>
    <li>TORNILLOS GALVANIZADOS</li>
    <li>COLOCACIÓN DE ACCESORIOS PARA PUERTAS ABATIBLES</li>
  </ul>
</div>
</LayoutPage>
