---
import LayoutPage from "@layouts/LayoutPage.astro";

const title = "Productos Principales";
const desc =" Producto galvanizado en Zinc por inmersión en caliente, en una capa equivalente a 276 g/m2 como protección tipo anticorrosivo";
const seo = {
  title: title,
  description: desc,
};
---

<LayoutPage {seo} titlepage={title}>
  <div class="container">
    
    <p>
      <img
        src="https://grupocepromex.com/imag_cepromex/prodgeneral.jpg"
        alt=""
      />
    </p>
    <h2></h2>
    <p>
      <small
        >Contamos con el mantenimiento y servicio profesional de malla
        ciclónica.<br /></small>
    </p>
    <div>
      <p>
        <a
          title="malla ciclonica"
          href="http://www.grupocepromex.com/productos.html">Malla Ciclónica</a>
        galvanizada y P.V.C., contamos con diferentes alturas 1 mt. 1.25mt.
        1.50mt. 2mt 2.50 mt. De 3 a 6 m. Y calibres del 13 al 9 mm.
      </p>
      <p>
        Tubería de acero galvanizado en diferentes medidas, calibres, diámetros
        con accesorios para su correcta instalación.
      </p>
      <p>
        Concertina de alta seguridad galvanizada bisturí tipo: industrial,
        residencial y militar.
      </p>
      <p>
        Cinta Plástica P.V.C. en diferentes colores para seguridad, privacidad y
        decoración.
      </p>
      <h2>REJACERO</h2>
      <img
        src="https://grupocepromex.com/imag_cepromex/deacero_logo.jpg"
        alt=""
        width="104"
        height="25"
      />Somo distribuidores directos
      <p></p>
      <p>
        Producto nuevo en cercados permanentes competitivos con herrería en
        diferentes colores, blanco, verde, azul, amarillo, café y en diferentes
        alturas.
      </p>
    </div>
  </div>
</LayoutPage>
