---
import LayoutPage from "@layouts/LayoutPage.astro";

const title = "Servicios Cepromex";
const desc = "Contamos con el mantenimiento y servicio profesional de malla ciclónica.";
const seo = {
  title: title,
  description: desc,
};
---

<LayoutPage {seo} titlepage={title}>
  <div class="container">
  <p>
    <img src="https://grupocepromex.com/imag_cepromex/servicios.jpg" alt="" />
  </p>

  <h2>{title}</h2>
  <p>
    <small
      >Contamos con el mantenimiento y servicio profesional de malla ciclónica.<br
      /></small
    >
  </p>
  <div>
    <p>
      Reconocemos lo importante que es para usted el contar con SEGURIDAD Y
      SERVICIO CONTAMOS CON SOLUCIONES AVANZADAS.
    </p>
    <p>
      CEPROMEX, pone a su disposición una gama de productos que resultan ideales
      para apoyarles en este sentido.
    </p>
    <p>
      Contamos con la logística adecuada para el manejo y trasporte de su
      material lo que reduce potencialmente sus constos de mantenimiento y
      durabilidad
    </p>
    <ul>
      <li>Auxiliares en la ingeniería civil.</li>
    </ul>
    <p>Nuestros productos cumplen…</p>
    <ul>
      <li>Homologación con las Normas Internacionales de Calidad.</li>
      <li>Materia prima y procesos de fabricación de clase mundial.</li>
      <li>Fácil instalación…Adaptables a cualquier estructura.</li>
      <li>Larga durabilidad y resistencia…más de 8 años de vida.</li>
      <li>No dañan el medio ambiente…se integran al ecosistema.</li>
    </ul>
    <p>ESTILO INDUSTRIAL</p>
    <p>
      <a href="https://grupocepromex.com/diagrama_inst.html"
        >COLOCACIÓN DE MALLA CON SUS ACCESORIOS</a
      >
    </p>
    <ul>
      <li>MALLA CICLONICA</li>
      <li>POSTE DE ARRANQUE</li>
      <li>POSTE DE ESQUINERO</li>
      <li>ALAMBRE DE PUAS</li>
      <li>POSTE DE LINEA</li>
      <li>TAPON SENCILLO</li>
      <li>ABRAZADERA DE TORNILLO</li>
      <li>ABRAZADERA DE SOLERA</li>
      <li>SOLERAS GALVANIZADAS</li>
      <li>TENSOR</li>
      <li>TAPONES PARA PUAS</li>
      <li>ESPADIN</li>
      <li>TORNILLOS GALVANIZADOS</li>
    </ul>
    <p>COLOCACIÓN DE ACCESORIOS PARA PUERTAS ABATIBLES</p>
    <img
      src="https://grupocepromex.com/imag_cepromex/puerta_malla.jpg"
      alt=""
      width="333"
      height="250"
    />PUERTAS Y PORTONES.
    <ul>
      <li>TIPO RESIDENCIAL.</li>
      <li>TIPO INDUSTRIAL.</li>
      <li>PUERTAS Y PORTONES CON ABERTURA HASTA DE 180” FABRICACION SOBRE PEDIDO</li>
      <li>BISAGRA INDUSTRIAL.</li>
      <li>BISAGRA TIPO HEMBRA Y MACHO.</li>
      <li>PASADOR.</li>
      <li>PASADOR TIPO MAUSER.</li>
    </ul>
    <p>   TODOS LOS COMPONENTES SON GALVANIZADOS.</p>
  </div>
</div>
</LayoutPage>
