---

export interface Props {
	
	title: string;
	subtitle?: string;
	href?: string;
    class?:string;
}
const { title, href, subtitle, class: className, ...props } = Astro.props;


---


    <a href={href} class:list={[" flex-inline transition-all ic border-2 py-2 px-4 m-0 -mx-1 gap-1 hover:gap-3 ", className]} {...props}>
        <slot name="iconL" slot="iconL"></slot>
        { title }
        { subtitle ? <span >{subtitle}</span>  : "" }
        <slot name="iconR" slot="iconR"></slot>
    </a>


<style>
	a.base {
		text-transform: uppercase;
		text-decoration: none;
	}
	a:hover{ }
	a.active {
		font-weight: 500;
		padding: 0;
	}
</style>
