<h2>Detalle de Instalación</h2>
<p><small>Contamos con el mantenimiento y servicio profesional de malla ciclónica.</small></p>

<p><img src="https://grupocepromex.com/imag_cepromex/instal_cepromex.jpg"/></p>