---
import MainMenu from '@components/theme/Menu.astro';
import Logo from '@components/theme/Logo.astro';
import Mobile from './Mobile.astro';
import { contact } from "@lib/site.json"
import IcOutlinePhone from '@components/icons/IcOutlinePhone.astro';
import Contact from './Contact.astro';

---
<header id="navbar">
	<div class="container ">
		<Logo class="logo" /> 
		
		<Contact class="hidden lg:flex"  />
		<nav class="flex icb gap-4 ">
			<!-- <div class="fondo-bar"></div>  -->
			<MainMenu class="navigation" />
		</nav>
		<Mobile />
	</div>	
</header>

<style is:global>
	#navbar {
		@apply fixed z-10 flex items-center w-full top-0 left-0 transition-all h-30 bg-white/10 ;
	}
	
	#navbar .container { 
		@apply flex items-center justify-between transition-all ;
	}
	#navbar.sticky {
		@apply top-0 bg-zinc-50 h-16 ;
	}
	#navbar.sticky.base{ 
		@apply top-0 bg-white ;
	 }
	#navbar.sticky.ocultar{
		@apply transition-all bg-main-500 top-16 ;
	}
	#navbar.sticky .container {
		@apply transition-all top-16 ;
	}
	#navbar .navigation a{
		@apply text-brand-600 hover:opacity-70 ;}
	#navbar.sticky  .navigation a{
		@apply text-brand-500  ;}
	#navbar .logo img {
    @apply all300 h-20 lg:h-22 py-2 w-auto ; 
    }
    #navbar.sticky .logo img {
    @apply all600 h-18;
    }

	#navbar .navigation{
       @apply hidden lg:flex gap-4 ;
    }
	#navbar .contact{
		@apply text-soft-40 ;
	}
	#navbar .navicons a:hover{
		@apply text-soft-40/60 ;
	}
</style>

