---
import ContactIcons from '@components/ContactIcons.astro';
import MainMenu from '@components/theme/Menu.astro';


---
<button id="button-open" class="text-xl mr-6 relative z-10">☰</button>
<section id="nav-mobile" class="navrl">    
    <div class="relative grid gap-6 text-center z-8 icc ">
      
        <MainMenu class="mobilelinks " />   
  
        <a class="right-4" href="/"> AVISO DE PRIVACIDAD</a>

        <ContactIcons class="flex ic gap-2 text-6" />
    </div>
 
</section>

<style is:global>

 #nav-mobile {@apply fixed h-screen all300 bg-brand-400 text-white  z-6 grid ic overflow-hidden lg:hidden;  ;}
 
 /* RIGHT LEFT  */
 #nav-mobile.navrl           { @apply: top-0 -right-80% w-80% md:-right-60% md:w-50vw  ; }
 #nav-mobile.navrl.visible   { @apply top-0 right-0 ; }
 /* TOP BOTTOM */
 #nav-mobile.navtopb           { @apply left-0 -top-full w-full  ; }
 #nav-mobile.navtopb.visible   { @apply left-0 top-0  ; }
 /* LEFT RIGHT   */
 #nav-mobile.navleft         { @apply: top-0 -left-80% w-80% md:-left-60% md:w-50vw  ; }
 #nav-mobile.navleft.visible { @apply top-0 left-0 ; }

 #button-open {@apply z-99 lg:hidden text-brand-100 text-8 pt-0 ;}
 #button-open.open{@apply text-orange ;}

 #nav-mobile .mobilelinks {@apply  text-left   ;}
 #nav-mobile .mobilelinks a{@apply  text-6 hover:opacity-6;}
 #nav-mobile .mobilelinks a.active {@apply text-brand-100 ;}
 
 </style>




 


<script>
    const btnOpen: HTMLElement | null = document.querySelector("#button-open");
    const navMobile: HTMLElement | null = document.querySelector("#nav-mobile");

    function openMenuMob() {
      if (navMobile) {
        navMobile.classList.toggle("visible");
        
      }
      if (btnOpen) {
        btnOpen.classList.toggle("open");
        
      }
    }

    function closeMenuMob() {
      if (navMobile) {
        navMobile.classList.remove("visible");
      }
    }

    if (btnOpen) {
      btnOpen.addEventListener("click", openMenuMob);
    }

    if (navMobile) {
      navMobile.addEventListener("click", () => {
        closeMenuMob();
      });
    }
</script>
