---
import { social } from "@lib/site.json"
const socialdata = social



const { class:className } = Astro.props;
---


<div class={className}>
      <slot />
      {
          socialdata.map( ({red, url})=> (
                 <a class="social-icon" href={url} title={red}><span>{red}</span> </a>
          
          ))
      }
 </div>



<style>
 .social-icon{
    @apply p-1 relative;
 }
 .social-icon svg{
    @apply w-8 h-8 inline-block rounded-full py-1px text-black  hover:text-cyan-700 ;
 }
 .social-icon span{
   @apply absolute hidden -top-8 left-0 bg-brand-base block  ;
 }
    
</style> 