---
import Header   from "@components/theme/Header.astro";
import Footer   from "@components/theme/Footer.astro";
import Head     from "@components/theme/Head.astro";
import SeoHead  from "@components/base/SeoHead.astro";
import type { Props as SEOProps } from "@components/base/SeoHead.astro";

export interface Props {
	seo?: SEOProps;
    class?: string
}
const { seo, class: className, ...props  } = Astro.props;
// import '@lib/css/reset.css'
import '@lib/css/global.css'
import Whatsapp from "@components/WhatsappChat.astro";
---

<!doctype html>
<html class="no-js" lang="es" dark-gray >
    <head>
        <Head />
        <SeoHead {...seo} />
    </head>
    <body class:list={[className]} {...props}>
        <Header />
        <slot/>
        <Footer />
        <Whatsapp />
        <!-- <script type="text/javascript" is:inline src="/assets/js/main.js"></script> -->
        <script src="@lib/js/app.js"></script>
        
    </body>
</html>

<style is:global>
    section{
        @apply py-36 lg:py-42 ;
    }
    
    h1{
        @apply text-12 md:text-10 lg:text-12 xl:text-16  ;
    }
    h2{
        @apply text-7 md:text-9 lg:text-11 xl:text-14  ;
    }
    h3{
        @apply text-6 md:text-8 lg:text-7.4 xl:text-8  ;
    }

</style>