---
import Layout from "./Layout.astro";
import type { Props as SEOProps } from "@components/base/SeoHead.astro";
import Contact from "@components/theme/Contact.astro";
export interface Props {
	seo?: SEOProps;
	titlepage: string;
	subtitle?: string;
	bgimg?:string
}
const { seo, titlepage, subtitle, bgimg } = Astro.props as Props;

---
<Layout {seo} >
	<section id="page-head" class="relative text-brand-600/70 p-0  " >

		<div class="z-2 absolute top-0 left-0 w-full h-full bg-gradient-to-b from-white/60 via-10%  to-brand-100/10  "></div>
		<img class="object-cover object-b absolute top-0 left-0 h-full w-full opacity-50" src={bgimg} alt="mibg" >

	
		<div class="container flex icc relative z-8 min-h-90vh ">
            <div class=" text-center w-80% ">
				<div class="grid icc ">
					<Contact class=" flex md:hidden mb-8" />
				</div>
				
                <h1 class="text-6 md:text-10 lg:text-12 xl:text-16 leading-1.2em ">{titlepage}</h1>
                {subtitle && <p class="my-8">{subtitle}</p>}
				<a href="#acerca" class="btnbr btround btn-md">CUIDAMOS LO QUE MÁS AMAS</a>
            </div>
				
		</div>
	</section>
	<slot/>
</Layout>

